@media only screen and (min-width: 1028px) {

header, footer, main{
    max-width: 75rem;
    margin: auto;
}

main{
    grid-template-columns: 1fr, 1fr, 1fr;
}
.section3{
    grid-column: 3;
}
}/* ---End of Media Query--- */