@media only screen and (min-width: 560px) {

main{
    max-width: 1279px;
    grid-template-columns: 1fr, 1fr;
}
section{
    overflow: hidden;
}
.section1{
    grid-column: 1;
}
.section2{
    grid-column: 2;
}
.section3{
    grid-column: span 2;
}
}/* ---End of Media Query--- */