/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav button{display: none;}

    nav{   
        background: #ff3232;
        background: -moz-linear-gradient(top, #ff3232 0%, #aa0000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff3232 0%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff3232 0%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
    }
    
    nav ul{
        margin-left: 2%;
    }
    
    nav ul.hide{
        display:block;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }
} /* END LARGE */