@media only screen and (min-width: 560px) {

nav li{float: left; width: 25%;}

main figure{
    float: right;
    width: 50%;
    margin-left: 2%;
}

div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
}

}/* ---End of Media Query---*/