/* Body */

body{
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    color: darkslateblue;
}

/* Header */
header{
    text-align: center;
}
header h1{
    font-size: 48px;
}

/* Main */
main h2{
    font-size: 32px;
}
main div.cards{
    box-shadow: 0px 0px 20px -2px;
    max-width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin: 1.5rem;
}
main div.cards section{
    max-width: 100%;
    background-color: rgba(147, 112, 219, .2);
    border: 1px solid darkslateblue;
    /*margin: 1rem;*/
}
main div.cards section p{
    margin-top: 0.3rem;
}
main div.cards img{
    max-width: 50%;
    margin: 1rem;
    box-shadow: 0px 0px 10px;
}




/* ------ Medium Screen Start ------- */
@media only screen and (min-width: 679px) {
main div.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}



/* ------ Large Screen Start ------- */
@media only screen and (min-width: 1028px) {
    main div.cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    

}