@media only screen and (min-width: 560px) {

/*----Body----*/

/*----Header----*/
header img{
    width: 100px;
}
header h1{
    font-size: 2rem;
}
header h2{
    font-size:1.5rem;
}

/*----Navigation----*/
nav{
    background-color: #F7B32B;
}
nav ul {
    margin-left: 2%;
}
nav ul li{
    float: left;
}
nav ul li a{
    padding: 1rem 1rem;
}

/*----Main----*/
main img{
    width: 570px;
}
}/*----End of Media Query----*/